<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ufes.br/mdd/umltextual/UmlTextual"
			class = "br.ufes.mdd.umltextual.umlTextual.UmlTextualPackage"
			genModel = "model/generated/UmlTextual.genmodel" />
	</extension>
</plugin>
